@import '/src/assets/scss/variable/style.scss';
.formText {
    padding:15px 10px 5px;
    font-size: $font-normal-size;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

    &__warm-grey {
        color: $warm-grey;
    }
}
