$white: #fff;
$white-two: #f8f6f2;
$white-three: #fdfcfb;
$white-four: #f7f7f7;
$white-five: #f8f6f3;
$white-50-op: rgba(255, 255, 255, 0.8);
$dark-grey: #5a5a5a;
$grey: #eee;
$grey-2: #f0f0f0;
$gray-800: #343a40 !default;
$back-grey: #f7f7f7;
$brownish-grey: #716d66;
$brownish-grey-two: #6d6d6d;
$light-grey: #e8e5dd;
$light-grey-two: #d1d0ce;
$light-grey-2: #f8f6f3;
$light-grey-3: #f0eeea;
$light-grey-four: #f6f4ee;
$light-grey-five: #cccac3;
$light-grey-six: #f4f1eb;
$pinkish-grey: #dad3c3;
$beige: #f2ede4;
$beige-two: #f6f1e9;
$greyish: #b5b0a1;
$gray: #716d66;
$warm-grey: #8e887a;
$warm-grey-two: #968e7e;
$cus-warm-grey-two: #999182;
$cement: #9d9a91;
$greyish-brown: #403d38;
$black: #403d38;
$black-50: rgba(20, 20, 20, 0.5);
$black-80: rgba(20, 20, 20, 0.8);
$dark-4: #969696;
$dark-3: #5a5a5a;
$dark-sky-blue: #4fc9da;
$dark-sky-blue-2: #5ccddd;
$dark-sky-blue-hover: #b9f2fa;
$duck-egg-blue: #ddf8fc;
$custom-grey: #989fb1;
$custom-grey-1: #efefef;
$red: #DB5437;
$pale-red-2: #db3d3d;
$tomato: #e73a14;
$green: #33d33b;
$light-neon-green: #66ff43;
$bright-yellow: #ffef00;
$butterscotch: #ffbe37;
$coral: #ff4343;
$light-primary: #ddf8fc;
$very-light-pink: #fff1ee;
$pale-red: #db5437;
$off-white: #fff7e5;
$off-white-two: #f4ffe7;
$yellow: #ffcb76b3;
$sage: #8cab69;
$mango: #fff7e5;
$font-title: #716D66;
$audit-title: #8E887A;
//process 參數

$processColordefault: #989fb1;
$processColor1010: #826C34;
$processColor1015: #C6A664;
$processColor2001: #922B3E;
$processColor2002: #DC9D00;
$processColor2004: #B32821;
$processColor3001: #4A192C;
$processColor3004: #B5B8B1;
$processColor3005: #316650;
$processColor3006: #1E213D;
$processColor3008: #3E5F8A;
$processColor3009: #E4A010;
$processColor3011: #434750;
$processColor3012: #633A34;
$processColor3014: #E63244;
$processColor3015: #231A24;
$processColor3016: #4A192C;
$processColor3017: #1E5945;
$processColor3018: #781F19;
$processColor3020: #705335;
$processColor3021: #8673A1;
$processColor3025: #EC7C26;
$processColor5002: #6A5F31;
$processColor5004: #3B83BD;
$processColor5005: #59351F;
$processColor5007: #316650;
$processColor6002: #474B4E;
$processColor7001: #D36E70;
$processColor9001: #955F20;

//panel
$success: #82A35C;
$error: #DA4E30;
$info: #4FC9DA;
$warning: #FBB231;

$success-line: #82A35C;
$error-line: #F06445;
$info-line: #4FC9DA;
$warning-line: #FBB231;

$success-bg: #F4FFE7;
$error-bg: #FFF1EE;
$info-bg: #DDF8FC;
$warning-bg: #FFF7E5;


$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$gray-800}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>") !default;
