$font-title-size: 1.5rem; // 24px
$font-small-title-size: 1.25rem; //20px
$font-content-title-size: 1.125rem; //18px
$font-normal-size: 1rem; //16px
$font-small-size: 0.875rem; // 14px
$font-smaller-size: 0.75rem; // 12px
$font-smallest-size: 0.625rem; // 10px